/* VALUES SECTION */
.values {
  padding-top: 96px;
  padding-bottom: 96px;
}

.values-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #ffffff;
  flex-direction: column;
  row-gap: 72px;
}

.values-titles {
  color: #2e2f42;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  text-transform: capitalize;
}

.values-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.values-list-icon {
  display: none;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .values {
    padding: 96px 0;
  }

  .values-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .values-list-titles {
    text-align: left;
  }

  .values-list-item {
    width: calc((100% - 24px) / 2);
  }

  .values-list-icon {
    display: none;
  }
}
/* /TABLET */

/* DESKTOP */
@media screen and (min-width: 1158px) {
  .values {
    padding: 120px 0;
  }

  values-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }

  .values-list-icon {
    display: flex;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;

    /* width: calc((100% - 24px) / 2); */
  }

  .values-titles {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .values-text {
    font-weight: 400;
  }

  .values-list-item {
    width: calc((100% - 72px) / 4);
  }
}
/* /DESKTOP */

/* other */
/* .values-list-item {
  width: calc((100% - 72px) / 4);
}

.values-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  padding: 24px 100px;
  margin-bottom: 8px;
} */
